// @import 'normalize.css'
@import 'reset.css'


.container
    max-width: 1168px
    margin: 0 auto

.main-section
    height: 850px
    background-image: url('/src/img/background.png')
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 60px
        &:last-child
            margin-right: 0px