@import 'normalize.css'
@import 'reset.css'
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')

$main-color: #3E9CDC

body
    font-family: 'Ubuntu', sans-serif

.container
    margin: 0 auto

.main-section
    background-image: url('/src/img/background.png')
    object-fit: scale-down
    padding-bottom: 202px
    &__location
        width: 1168px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: 0 auto
    &__header
        display: flex
        flex-direction: row
        justify-content: space-between
    &__nav-container
        background-color: rgba(16, 16, 29, 0.9)
        padding-top: 32px
        padding-bottom: 32px
    &__logo
        text-decoration: none
        color: white
        font-size: 28px
        font-weight: 800
    &__content
        width: 1168px
        margin: 0 auto
        margin-top: 102px
    &__paragraph
        font-size: 20px
        font-weight: bold
        padding-bottom: 12px
    &__description
        font-size: 20px
        font-weight: 300
        padding-bottom: 6px
    &__btn-position
        padding-top: 80px
        display: flex
        flex-direction: row
    &__btn-main
        background-color: $main-color
        cursor: pointer
        width: 183px
        height: 43px
        margin-right: 30px
        font-size: 13px
        color: #FFFFFF
        border: 1px solid #FFFFFF
        border-radius: 4px
        &:hover
            transition: 0.4s ease-in
            background-color: #FFFFFF
            border: 1px solid #6F6D7B
            color: #2A2B30
        &:last-child
            background-color: #FFFFFF
            border: 1px solid #6F6D7B
            color: #2A2B30
            &:hover
                background-color: $main-color
                color: #FFFFFF
                border: 1px solid #FFFFFF

    
h1
    font-size: 48px
    font-weight: 500
    width: 780px
    color: $main-color
    padding-bottom: 80px
        
.nav-menu
    &__list
        padding-top: 6px
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 60px
        color: white
        font-size: 13px
        &:last-child
            margin-right: 0px



h2
    text-align: center
    font-size: 40px
    font-weight: 500
    color: $main-color
    padding-top: 120px
    padding-bottom: 30px

.checkout-section
    background-image: url('/src/img/bg_two.png')
    &__position
        width: 1168px
        margin: 0 auto
    &__item
        text-align: center
        font-size: 18px
        font-weight: normal
        color: #BBBBBB
        padding-bottom: 80px
    &__card-position
        display: flex
        flex-direction: row
        justify-content: space-between
        padding-bottom: 80px
    &__card-img
        display: flex
        flex-direction: row
        justify-content: center
        padding-bottom: 20px
    &__item-two
        font-size: 16px
        font-weight: 300
        color: #FFFFFF

// Выпадающий список

select
    display: none
    opacity: 0
    position: absolute
    height: 1px
    width: 1px

.select-wrap
    max-width: 200px
    position: relative
    margin: 50px auto

.custom-select
    &--show
        .custom-select__current
            &::after
                transform: rotate(-180deg)
                top: 40%
        .custom-select__list
            margin-top: 5px
            opacity: 1
            visibility: visible
            pointer-events: auto
    &__current
        width: 100%
        border: 1px solid 
        border-radius: 20зч
        position: relative
        cursor: pointer
        box-shadow: 0 0 5px 3px rgba(#ccc, .2)
        &:focus
            box-shadow: 0 3px 3px 2px rgba(0,0,0,.2)
        &::after
            content: ''
            transition: all .25s ease
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 0
            height: 0
            border-style: solid
            border-color: #000 transparent transparent transparent
    &__list
        width: 100%
        position: absolute
        z-index: 2
        overflow: hidden
        margin-top: 5px
        max-height: 200px
        overflow-y: auto
        margin-top: 20px
        opacity: 0
        visibility: hiden
        pointer-events: none
        transition: all .25s ease
    &__item
        cursor: pointer
        border: none
        display: inline-block
        width: 100%
		
.custom-scrollbar
    &::-webkit-scrollbar
        width: 8px
    &::-webkit-scrollbar-track
        background-color: #f8f9fa
    &::-webkit-scrollbar-thumb
        border: 2px solid #f8f9fa
        background-color: #ccc
        border-radius: 10px

// Ползунок

.slider 
    -webkit-appearance: none
    width: 100%
    height: 15px
    border-radius: 5px
    background: #d3d3d3
    outline: none
    opacity: 0.7
    -webkit-transition: .2s
    transition: opacity .2s


.slider:hover 
    opacity: 1


.slider::-webkit-slider-thumb 
    -webkit-appearance: none
    appearance: none
    width: 25px
    height: 25px
    border-radius: 50%
    background: #4CAF50
    cursor: pointer


.slider::-moz-range-thumb 
    width: 25px
    height: 25px
    border-radius: 50%
    background: #4CAF50
    cursor: pointer


    
    