@import 'normalize.css';
@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 0 auto;
}

.main-section {
  background-image: url("/src/img/background.png");
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding-bottom: 202px;
}
.main-section__location {
  width: 1168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.main-section__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-section__nav-container {
  background-color: rgba(16, 16, 29, 0.9);
  padding-top: 32px;
  padding-bottom: 32px;
}
.main-section__logo {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: 800;
}
.main-section__content {
  width: 1168px;
  margin: 0 auto;
  margin-top: 102px;
}
.main-section__paragraph {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}
.main-section__description {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 6px;
}
.main-section__btn-position {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
}
.main-section__btn-main {
  background-color: #3E9CDC;
  cursor: pointer;
  width: 183px;
  height: 43px;
  margin-right: 30px;
  font-size: 13px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.main-section__btn-main:hover {
  transition: 0.4s ease-in;
  background-color: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}
.main-section__btn-main:last-child {
  background-color: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}
.main-section__btn-main:last-child:hover {
  background-color: #3E9CDC;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  width: 780px;
  color: #3E9CDC;
  padding-bottom: 80px;
}

.nav-menu__list {
  padding-top: 6px;
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 60px;
  color: white;
  font-size: 13px;
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #3E9CDC;
  padding-top: 120px;
  padding-bottom: 30px;
}

.checkout-section {
  background-image: url("/src/img/bg_two.png");
}
.checkout-section__position {
  width: 1168px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.checkout-section__item {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #BBBBBB;
  padding-bottom: 80px;
}
.checkout-section__card-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}
.checkout-section__card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}
.checkout-section__item-two {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}
.checkout-section__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}
.checkout-section__slider-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
}
.checkout-section__btn-slider {
  width: 370px;
  border-radius: 3px;
  height: 48px;
  font-size: 15px;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
}
.checkout-section__btn-img {
  margin-right: 14px;
}
.checkout-section__btn {
  background-color: #3E9CDC;
  cursor: pointer;
  width: 370px;
  height: 48px;
  font-size: 13px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.checkout-section__btn-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select {
  width: 370px;
  border-radius: 3px;
  border: solid rgb(61, 64, 80);
  overflow: hidden;
  color: #ffffff;
  font-weight: 200px;
  margin: 0;
  position: relative;
  max-height: 384px;
  transition: 0.2s;
}

.select:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 15px;
  right: 15px;
}

.select:after {
  content: "";
  position: absolute;
  background: rgb(61, 64, 80);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 20px;
  right: 15px;
}

.collapsed {
  max-height: 48px;
  transition: 0.2s;
}

.collapsed:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 10px;
  right: 15px;
}

.collapsed:after {
  content: "";
  position: absolute;
  background: rgb(61, 64, 80);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  top: 5px;
  right: 15px;
}

.option, .shown {
  width: 370px;
  height: 48px;
  line-height: 40px;
  padding-left: 15px;
  cursor: pointer;
  background: rgba(39, 39, 51, 0.9);
}

.shown {
  background: rgb(61, 64, 80);
  font-weight: 400;
}

#container-dropdown {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
}

.slider {
  -webkit-appearance: none;
  width: 778px;
  height: 6px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */